<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GyanDaan | Home</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        const user_name = "<%=user_name %>";
        const email = "<%= user_email %>";
        const isEducator = "<%= isEducator %>";
        const isAdmin = "<%= isAdmin %>";
        const user_id = "<%= userId %>";
        const isVerified = "<%=user_isVerified%>";
    </script>

    <link rel="stylesheet" type="text/css" href="/css/home.css" />
    <link rel="stylesheet" type="text/css" href="/css/tags.css" />
    <script src="/js/utility.js" defer></script>
    <script src="/js/home.js" defer></script>
    <script src="/js/tags.js"></script>
</head>

<body>
    <div class="body_container">
        <nav class="navbar navbar-expand-md navbar-light  justify-content-start" style="color: black;">

            <a class="navbar-brand mb-0 h1" href="/home"><img src="/images/logo.png" style="width: 100px;" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6"
                style="margin-left:auto;">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbar6">
                <form class="mx-5 my-auto d-inline w-100">
                    <input class="form-control mr-sm-2" placeholder="&#xf002; Search a course"
                        onkeyup="showSearchResults(this.value)" style="
    border-color: grey;
    border-width: 2px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;">
                </form>
                <ul class="navbar-nav" style="padding-right: 1%;">
                    <li class="nav-item">

                        <div class="dropdown">
                            <a class="dropdown-toggle nav-link active" id="user_data" href='#' role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                <img src="<%- user_profilePic %>"
                                    style="display:inline;height: 2rem; width: 2rem;border-radius: 50%;" />
                                <%= user_name %>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="navbar_menu">
                                <li>
                                    <a href="/profile/<%=user_email%>" class="dropdown-item">

                                        <i class="fas fa-address-card"></i> Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href='/donate' type="button">

                                        <i class="fas fa-donate"></i> Donate</a>


                                </li>
                                <li>
                                    <a class="dropdown-item" href='/logout'>
                                        <i class="fas fa-sign-out-alt"></i> Sign out</a>

                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="modal fade" id="RoomcreationModal" tabindex="-1" role="dialog"
            aria-labelledby="RoomcreationModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="box-shadow: 0px 0px 15px black;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="RoomcreationModalLongTitle">Create new course</h5>
                    </div>
                    <form>

                        <div class="modal-body" style="overflow:auto;">
                            <div class="form-group">
                                <label for="room_name">Course Name</label>
                                <input type="text" class="form-control" id="room_name" required>
                            </div>
                            <div class="form-group">
                                <label for="room_description">Course Description</label>
                                <textarea row="3" class="form-control" id="room_description"> </textarea>
                            </div>
                            <div class="form-group">
                                <label>Add Course Tags:</label>
                                <input type="text" id="room_tags" data-role="tagsinput" />
                                <small class="form-text " style="font-weight:600;">
                                    Add Tags associated with this course. <br>Eg. Trignometry, Maths, Class Xth
                                    etc...<br>
                                    Press enter after typing a tag name to add a new tag.
                                </small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="modal_close" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button type="button" style="background-color: rgb(79, 70, 229);" class="btn btn-primary"
                                onclick="modal_submission()">Create
                                Course</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="modal fade" id="RoomrequestModal" tabindex="-1" role="dialog"
            aria-labelledby="RoomrequestModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="box-shadow: 0px 0px 15px black;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="RoomrequestModalLongTitle">Request for a new course</h5>
                    </div>
                    <form>

                        <div class="modal-body" style="overflow:auto;">
                            <div class="form-group">
                                <label for="Roomrequest_name">Course Name</label>
                                <input type="text" class="form-control" id="Roomrequest_name" required>
                            </div>
                            <div class="form-group">
                                <label for="Roomrequest_description">Course Requirements</label>
                                <textarea row="3" class="form-control" id="Roomrequest_description"> </textarea>
                                <small class="form-text " style="font-weight:600;">
                                    Tell us more about what you are expecting from this course.
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Add Course Tags:</label>
                                <input type="text" id="Roomrequest_tags" data-role="tagsinput" />
                                <small class="form-text " style="font-weight:600;">
                                    Add Tags associated with this course. <br>Eg. Trignometry, Maths, Class Xth
                                    etc...<br>
                                    Press enter after typing a tag name to add a new tag.
                                </small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="Requestmodal_close" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" style="background-color: rgb(79, 70, 229);"
                                onclick="Roomrequest_submission()">Send Request</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>





        <% if(!isEducator){ %>



            <nav class="navbar navbar-expand-lg navbar-light  justify-content-start" style="color: black;">

                <h6 onclick="redirect=()=>{window.location = '/home'};redirect()"
                    class="nav-link-par cus-nav-link nav-link" style="cursor:pointer;">
                    <i class="fas fa-home"></i> Home
                </h6>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar7"
                    style="margin-left:auto;">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbar7">
                    <div id="stat_nav">
                        <div class="nav-link-par" id='enrolled_stat_link'>
                            <h6 class="nav-link cus-nav-link" style="cursor:pointer;"
                                onclick="stat_link_click('enrolled')">
                                Enrolled Courses </h6>
                        </div>
                        <div class="nav-link-par" id='popular_stat_link'>
                            <h6 class="nav-link cus-nav-link" style="cursor:pointer;"
                                onclick="stat_link_click('popular')">
                                Popular </h6>
                        </div>
                        <div class="nav-link-par" id='oldest_stat_link'>
                            <h6 class="nav-link cus-nav-link" style="cursor:pointer;"
                                onclick="stat_link_click('oldest')">Oldest
                            </h6>
                        </div>
                        <div class="nav-link-par" id='latest_stat_link'>
                            <h6 class="nav-link cus-nav-link" style="cursor:pointer;"
                                onclick="stat_link_click('latest')">Latest
                            </h6>
                        </div>
                        <div class="nav-link-par" id='liked_stat_link'>
                            <h6 class=" nav-link cus-nav-link" style="cursor:pointer;"
                                onclick="stat_link_click('liked')">Most
                                Liked</h6>
                        </div>
                    </div>
                    <div class="nav-link-par" id="createRequestLink"
                        style="margin-right: 0%;min-width:fit-content;float: right;">


                    </div>

                </div>
            </nav>

            <% } %>
                <% if(isEducator){ %>
                    <nav class="navbar navbar-expand-lg navbar-light"
                        style="color: black;justify-content:space-between;">
                        <h6 onclick="redirect=()=>{window.location = '/home'};redirect()"
                            class="nav-link-par cus-nav-link nav-link" style="cursor:pointer;">
                            <i class="fas fa-home"></i> Home
                        </h6>


                        <div class="nav-link-par" id="createRequestLink"
                            style="margin-right: 0%;min-width:fit-content;float: right;">


                        </div>
                    </nav>
                    <% } %>
                        <div class="rooms_container_parent">
                            <h3 id="rooms_container_title" style="display:none"></h3>
                            <div id="rooms_container" class="rooms_container">
                            </div>
                            <h3 id="educators_container_title" style="display:none"></h3>
                            <div id="educators_container" class="rooms_container"></div>
                        </div>
    </div>

    <div class="modal fade" id="user_display_modal" tabindex="-1" role="dialog"
        aria-labelledby="user_display_modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="box-shadow: 0px 0px 15px black;">
                <div class="modal-header">
                    <h5 class="modal-title" id="user_display_modalLongTitle">Members</h5>
                </div>
                <form>

                    <div class="modal-body" style="overflow:auto;">
                        <div class="form-group" id="all_users_container">

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="modal_close" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    </div>


</body>

</html>