
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GyanDaan | Course</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script>
        const ROOM_ID = "<%=room_id %>";
        const user_name = "<%=user_name %>";
        const email = "<%= user_email %>";
        const isEducator = "<%= isEducator %>";
        const userID = "<%= userId %>";
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Red Hat Display' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/css/room.css" />
    <link rel="stylesheet" type="text/css" href="/css/tags.css" />
    <script src="/js/messageFunctionality.js" defer></script>
    <script src="/js/room.js" defer></script>
    
    <script src="/js/tags.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light justify-content-start">

        <a class="navbar-brand mb-0 h1" href="/home"><img src="/images/logo.png" style="width: 100px;" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar6">
            <form class="mx-5 my-auto d-inline w-100">
                <input class="form-control mr-sm-2" placeholder="&#xf002; Search for a chat"
                    onkeyup="show_chat(this.value)"
                    style="border-color: grey;border-width: 2px; font-family: 'Font Awesome 5 Free'; font-weight: 600;">
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle nav-link active" id="user_data" href='#' role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            <img src="<%- user_profilePic %>"
                                style="display:inline;height: 2rem; width: 2rem;border-radius: 50%;" />

                            <%= user_name %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="navbar_menu">
                            <li>
                                <a href="/profile/<%=user_email%>" class="dropdown-item">

                                    <i class="fas fa-address-card" style="color:black;"></i> Profile</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href='/donate' type="button">
                                    <div style="color:black">
                                        <i class="fas fa-donate" style="color:black"></i> Donate
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href='/logout'>
                                    <i class="fas fa-sign-out-alt" style="color:black;"></i> Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div style="display:flex;flex-direction:row;width:100%;height:92.5%;">
        <div class="data_container shadow" style="height:100%;width:20%;;overflow:auto;">
            <div id="channels" style="width:100%;">
                <div id="room_name"></div>

                <div id="channels_container" class="card-body p-0" style="display:flex;flex-direction:column;">
                </div>
                <div id="meet_container" class="card-body p-0" style="display:flex;flex-direction:column;">
                </div>
            </div>


        </div>
        <div class="chat_container" style="height:100%;width:60%;overflow:auto; background-color: #e5ddd5;">
            <div style="margin-top:1%;margin-bottom: 1%;display: flex; align-items:baseline;">
                <h4 id="channel_name_display" style="float:left;margin-left:2.5%;max-width:65%;word-break: break-word;color: black;">
                </h4>
                <a id="channel_notifications" href="#"  data-toggle="modal" onclick="new_update_adder(0)"
                    data-target="#notifications_modal" class="custom_link" style="margin-left:2.5%;">
                    <i class="fas fa-bell"></i> <i id="alert_notification" style="display: none;" class="fas fa-exclamation alert_notification"></i>Notifications
                </a>
                <a id="create_meet" class="custom_link" href="#" data-toggle="modal" data-target="#meetcreationmodal"
                    style="margin-left:auto; margin-right:2%;">
                </a>
                <a id="join_meet" class="custom_link" href="#" style="margin-left:auto;margin-right: 2%;">
                </a>
                <a id="create_poll" class="custom_link" href="#" data-toggle="modal" data-target="#pollcreationmodal"
                    style=" margin-right:2%;">
                </a>


                <a id="show_files" class="custom_link" href="#" style="margin-right:2%; float: right;" onclick="showChannelFiles()">
                    
                </a>
            </div>

            <div class="message_container">
                <div id="chat_messages" class="data_container">

                </div>

                <div id="chat_sender" style="display: flex;align-items: flex-end;background-color: #ededed;">
                    <div id="editor_container" style="display: flex;">
                        <label style="cursor:pointer;align-self: center;margin:2%;"><i title="upload File"
                                class="fas fa-paperclip fa-lg" style="color:black;"></i>
                            <input type="file" class="admin__input" id="myFile" name="upload"
                                onChange="handleChatFileUpload()" /></label>
                        <textarea id="editor" oninput="auto_grow(this)" placeholder="Type here..." rows=1></textarea>
                        <i id="editor_clear" onclick="clear_editor()" title="clean" class="fas fa-window-close fa-lg"
                            style="margin:2%;"></i>
                        <i id="submit_button" title="Send Message" onclick="send_chat_message()"
                            class="fa fa-send fa-lg" style="color:black;cursor:pointer;align-self: center;margin: 2%;">
                        </i>
                    </div>
                </div>

            </div>
            <div class="modal fade" id="pollcreationmodal" tabindex="-1" role="dialog"
                aria-labelledby="pollcreationmodalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="color:black;z-index: 9999;">
                    <div class="modal-content">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="pollcreationmodalLongTitle">Create Poll</h5>
                        </div>
                        <form>

                            <div class="modal-body" style="border-color: #292929;overflow:auto;">
                                <div class="form-group">
                                    <label for="poll_name">Poll Name</label>
                                    <input type="text" class="form-control" id="poll_name" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Add Options:</label>
                                    <input type="text" class="form-control" id="poll_tags" data-role="tagsinput"
                                        required />
                                    <small class="form-text " style="font-weight:400;">
                                        Add options that will be shown in the poll<br>
                                        Press enter after typing an option to add an option.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label>Poll Type</label><br>
                                    <input type="radio" id="MCP" name="poll_type" value="MCP">
                                    <label for="MCP">Multiple Correct</label><br>
                                    <input type="radio" id="SCP" name="poll_type" value="SCP" checked="true">
                                    <label for="SCP">Single Correct</label><br>
                                </div>
                                <button type="button" class="btn btn-primary"
                                    style="float: right; margin-left:1%;margin-bottom:1%"
                                    onclick="poll_modal_submission()">Create
                                    Poll</button>
                                <button type="button" id="modal_close" class="btn btn-secondary" data-dismiss="modal"
                                    style="float: right;margin-bottom:1%">Close</button>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="channel_creation_modal" tabindex="-1" role="dialog"
                aria-labelledby="channel_creation_modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="z-index: 9999;">
                    <div class="modal-content">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="channel_creation_modalLongTitle">Create Channel</h5>
                        </div>
                        <form>

                            <div class="modal-body" style="border-color: #292929;overflow:auto;">
                                <div class="form-group">
                                    <label for="room_name">Channel Name</label>
                                    <input type="text" class="form-control" id="channel_name" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Add Users:</label>
                                    <input type="text" class="form-control" id="user_tags" data-role="tagsinput" />
                                    <small class="form-text " style="font-weight:400;">
                                        Add users that are currently present in the room by typing their email id.<br>
                                        Press enter after typing user's email to add a new user.
                                    </small>
                                </div>
                                <button type="button" class="btn btn-primary"
                                    style="float: right; margin-left:1%;margin-bottom:1%"
                                    onclick="channel_modal_submission()">Create
                                    Channel</button>
                                <button type="button" id="modal_close_channel" class="btn btn-secondary" data-dismiss="modal"
                                    style="float: right;margin-bottom:1%">Close</button>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="RoomcreationModal" tabindex="-1" role="dialog"
                aria-labelledby="RoomcreationModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="RoomcreationModalLongTitle">Edit Course</h5>
                        </div>
                        <form>

                            <div class="modal-body" style="border-color: #292929;overflow:auto;">
                                <div class="form-group">
                                    <label for="room_name">Course Name</label>
                                    <input type="text" class="form-control" id="edit_room_name" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="room_description">Course Description</label>
                                    <textarea row="3" class="form-control" id="edit_room_description"
                                        style="color: black;"> </textarea>
                                </div>
                                <div class="form-group">
                                    <label>Edit Course Tags:</label>
                                    <input type="text" id="edit_room_tags" data-role="tagsinput" />
                                    <small class="form-text " style="font-weight:400;">
                                        Add Tags associated with this course. <br>Eg. Trignometry, Maths, Class Xth
                                        etc...<br>
                                        Press enter after typing a tag name to add a new tag.
                                    </small>
                                </div>
                            </div>
                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="room_edit_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary"
                                    onclick="room_edit_modal_submission(ROOM_ID)">Edit
                                    Room</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="meetcreationmodal" tabindex="-1" role="dialog"
                aria-labelledby="meetcreationmodalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" atyle="z-index: 9999;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="meetcreationmodalLongTitle">Create meet</h5>
                        </div>
                        <form>

                            <div class="modal-body" style="border-color: #292929;overflow:auto;">
                                <div class="form-group">
                                    <label for="room_name">Meet Name</label>
                                    <input type="text" class="form-control" id="meet_name" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="room_name">Meet Start Date</label>
                                    <input type="date" class="form-control" id="meet_date" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="room_name">Meet Start Time</label>
                                    <input type="time" class="form-control" id="meet_time" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group" style="display: flex;">
                                    <label for="Allow_Students_Stream">Allow students to stream their
                                        audio/video</label>
                                    <input type="checkbox" class="form-control" id="Allow_Students_Stream"
                                        style="color: black;width: min-content; margin-top: -1%;margin-left:2%;" />
                                </div>

                            </div>
                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="meet_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button" onclick="meet_modal_submission()">Create
                                    meet</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <a class="add_users_link" href="#" data-toggle="modal" data-target="#adduserModal" style="display:none;"
                style="float:right;margin-right:3%;">
                Add users </a>
            <a class="remove_users_link" href="#" data-toggle="modal" data-target="#userdeletionmodal"
                style="display:none;" style="float:right;margin-right:3%;">
                Remove users </a>
            <div class="modal fade" id="adduserModal" tabindex="-1" role="dialog"
                aria-labelledby="adduserModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="z-index: 9999;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="adduserLongTitle">Add Users</h5>
                        </div>
                        <form style="margin-left:1%;margin-right: 1%;">
                            <div class="form-group">
                                <label>Add Users:</label>
                                <input type="text" class="form-control" id="add_user_tags" data-role="tagsinput">
                                <small class="form-text " id="add_users_muted_text" style="font-weight:400;">
                                </small>
                                <small class="form-text " id="add_users_muted_text" style="font-weight:400;">

                                    Press enter after typing user's email to add a new user.
                                </small>
                            </div>

                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="add_users_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button" onclick="add_users_modal_submission()">Add
                                    users</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="userdeletionmodal" tabindex="-1" role="dialog"
                aria-labelledby="userdeletionmodalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="z-index: 9999;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="userdeletionmodalLongTitle">Remove Users</h5>
                        </div>
                        <form style="margin-left:1%;margin-right: 1%;">
                            <div class="form-group">
                                <label>Remove Users:</label>
                                <input type="text" class="form-control" id="user_deletion_tags" data-role="tagsinput">
                                <small class="form-text " id="userdeletionmodals_muted_text" style="font-weight:400;">
                                    Remove users that are currently present in the course/channel by typing their email
                                    id.
                                    Press enter after typing user's email to add a new user.
                                </small>
                            </div>

                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="user_deletion_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button"
                                    onclick="user_deletion_modal_submission()">Remove
                                    users</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div id="files_container">
        </div>
        <div class="shadow" style="width: 20%;overflow: scroll;">
            <div style="width:100%;display:flex;flex-direction:row;">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsemeets"
                    aria-expanded="false" aria-controls="collapseusers" style="text-decoration: none;
                                      float:left;
                                      color: rgb(79, 70, 229); 
                                      display: flex;
                                      flex-direction: row;
                                      align-items: center;
                                      padding: 1%;
                                      " onclick="toggleChannelIcon(this, 'channel_meets_icon')">
                    <i class="fas fa-caret-square-right mx-2" id="channel_meets_icon"></i>
                    <h6 style="margin-bottom: 0%;">Channel Meets</h6>
                </button>
            </div>
            <div id="collapsemeets" class="collapse" aria-labelledby="collapseusers" data-parent="#collapsemeets">
                <div id="meets_container" class="card-body" style="display:flex;flex-direction:column;">
                </div>
            </div>
            <div style="width:100%;display:flex;flex-direction:row; ">
                <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapseusers"
                    aria-expanded="false" aria-controls="collapseusers" style="text-decoration: none;
          float:left;
          color: rgb(79, 70, 229); 
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 1%;" onclick="toggleChannelIcon(this, 'channel_users_icon')">
                    <i class="fas fa-caret-square-right mx-2" id="channel_users_icon"></i>
                    <h6 style="margin-bottom: 0%;">Channel Users</h6>
                </button>
            </div>
            <div id="collapseusers" class="collapse" aria-labelledby="collapseusers" data-parent="#collapseusers">
                <div id="users_container" class="card-body" style="display:flex;flex-direction:column;">
                </div>
            </div>

        </div>
        <div class="modal fade" id="user_display_modal" tabindex="-1" role="dialog"
            aria-labelledby="user_display_modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="z-index: 9999;">
                    <div class="modal-header" style="border-color: #292929;">
                        <h5 class="modal-title" id="user_display_modalLongTitle">Members</h5>
                    </div>
                    <form>

                        <div class="modal-body" style="border-color: #292929;overflow:auto;">
                            <div class="form-group" id="all_users_container">

                            </div>
                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="notifications_modal" tabindex="-1" role="dialog"
        aria-labelledby="notifications_modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content" style="z-index: 9999;">
                <div class="modal-header" style="border-color: #292929;display:flex;align-items:baseline;color:white;background-color:rgb(79, 70, 229);">
                    <h3 class="modal-title" id="notifications_modalLongTitle" style="text-align:center">Notifications</h3>
                    <div id="add_notification" onclick="toggle_add_edit_notification_container(0)"
                        style="display: none;margin-left: auto;margin-right: 2%; cursor: pointer;"><i class="fas fa-plus"></i> New
                        notification</div>
                        <div type="button" id="notifications_modal_close" 
                        data-dismiss="modal"><i class="fas fa-times" style="position: absolute;top:6px;right:6px;"></i></div>
                      
                </div>
                <form>

                    <div class="modal-body" style="border-color: #292929;overflow:auto;">

                        <div class="form-group" id="notification_title" style="display: none">
                            <label for="notification_titlefield">Notification Title:</label>
                            <input type="text" id="notification_titlefield" class="form-control" />
                        </div>

                        <div class="form-group" id="notification_input" style="display: none">
                            <label for="notification_inputfield">Notification Description:</label>
                            <textarea type="text" id="notification_inputfield" class="form-control" ></textarea>
                        </div>
                        <div class="form-group" id="add_button_container"
                            style="border-color: #292929;display: none;padding-bottom:2%;border-bottom: 1px solid;">
                            <button type="button" id="add_notifications_close" onclick="notification_submit_handler()"
                                style="margin-left: auto;background-color: rgb(79, 70, 229); color: white;" class="btn" data-dismiss="modal">Add</button>
                        </div>

                        <div class="form-group" id="notifications_modal_container">
                        </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>