<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>True-meet | Room</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script>
        const ROOM_ID = "<%=room_id %>";
        const user_name = "<%=user_name %>";
        const email = "<%= user_email %>";
        const isEducator = "<%= isEducator %>";
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_editor.pkgd.min.css"
        rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.6.0/css/froala_style.min.css" rel="stylesheet"
        type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>

    <script src="/p5/p5.min.js"></script>
    <script src="/p5/addons/p5.dom.min.js"></script>
    <script src="/p5/addons/p5.sound.min.js"></script>
    <link href="/p5/dark.min.css" rel="stylesheet" type="text/css" />

    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.2.1/typeahead.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.1.0/uuidv4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/room.css" />
    <link rel="stylesheet" type="text/css" href="/css/tags.css" />
    <script src="/js/room.js" defer></script>
    <script src="/js/tags.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark justify-content-start" style="background-color: black;">

        <a class="navbar-brand mb-0 h1" href="/home"><i class="fas fa-users"></i> True-Meet</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbar6">
            <form class="mx-5 my-auto d-inline w-100">
                <input class="form-control mr-sm-2" placeholder="&#xf002; Search for a chat"
                    onkeyup="show_chat(this.value)"
                    style="background-color: #1f1f1f; color:white;border-color: grey;border-width: 2px; font-family: 'Font Awesome 5 Free'; font-weight: 600;">
            </form>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="dropdown-toggle nav-link active" id="user_data" href='#' role="button"
                            data-toggle="dropdown" aria-expanded="false">
                            <%= user_name %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                            <li>
                                <a class="dropdown-item" href='#' type="button" onclick="show_users();"
                                    data-toggle="modal" data-target="#user_display_modal">
                                    <i class="fas fa-user-tag" style="color:black;"></i> True-Meet<br>Members</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href='#' type="button"
                                    onclick="(()=>{location='/donate';})();">
                                    <i class="fas fa-donate" style="color:black;"></i> Donate</a>
                            </li>

                            <li>

                                <a class="dropdown-item" href='/logout/'>
                                    <i class="fas fa-sign-out-alt"></i> Sign out
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div style="display:flex;flex-direction:row;width:100%;height:92.5%;">
        <div class="data_container"
            style="height:100%;width:20%;background-color: #141414;border-right: 2px solid;border-color:grey;overflow:auto;">
            <div id="channels" style="width:100%;">
                <div id="room_name"></div>
                <div style="width:100%;display:flex;flex-direction:row;display:inline-block;width:100%;font-size: 100%;"
                    id="channel_features">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsechannels"
                        aria-expanded="false" aria-controls="collapsechannels"
                        style="text-decoration: none;float:left;">
                        Channels
                    </button>

                </div>
                <div id="collapsechannels" class="collapse" aria-labelledby="channels" data-parent="#channels">
                    <div id="channels_container" class="card-body" style="display:flex;flex-direction:column;">
                    </div>
                </div>
            </div>
            <div id="channels" style="width:100%;">
                <div style="width:100%;display:flex;flex-direction:row; ">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseusers"
                        aria-expanded="false" aria-controls="collapseusers" style="text-decoration: none;float:left;">
                        Channel Users
                    </button>
                </div>
                <div id="collapseusers" class="collapse" aria-labelledby="collapseusers" data-parent="#collapseusers">
                    <div id="users_container" class="card-body" style="display:flex;flex-direction:column;">
                    </div>
                </div>
            </div>
            <div id="channels" style="width:100%;">
                <div style="width:100%;display:flex;flex-direction:row;">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsemeets"
                        aria-expanded="false" aria-controls="collapseusers" style="text-decoration: none;float:left;">
                        Channel Meets
                    </button>
                </div>
                <div id="collapsemeets" class="collapse" aria-labelledby="collapseusers" data-parent="#collapsemeets">
                    <div id="meets_container" class="card-body" style="display:flex;flex-direction:column;">
                    </div>
                </div>
            </div>


        </div>
        <div class="chat_container">
            <div style="margin-top:1%;margin-bottom: 1%;">
                <b>
                    <a href="#" class="custom_link" id="channel_name_display"
                        style="float:left;margin-left:2.5%;font-weight:bolder;">
                    </a>
                </b>
                <a id="create_meet" class="custom_link" href="#" data-toggle="modal" data-target="#meetcreationmodal"
                    style="float:right;margin-right:3%;">
                </a>
                <a id="join_meet" class="custom_link" href="#" style="display:none;margin-right:3%;float:right;">
                    <button class="btn btn-secondary" id="join_meet_btn"></button>
                </a>

            </div>

            <div class="message_container">
                <div id="chat_messages" class="data_container">

                </div>

                <div id="chat_sender" style="display: flex;align-items: flex-end;margin-bottom: 1%;">
                    <label style="cursor:pointer;margin-bottom: 10px;"><i title="upload File"
                            class="fas fa-paperclip fa-lg" style="color: white;"></i>
                        <input type="file" class="admin__input" id="myFile" name="upload"
                            onChange="handleChatFileUpload()" /></label>
                    <div id="editor_container" style="display: flex;">
                        <textarea id="editor" oninput="auto_grow(this)" placeholder="Type here..." rows=1></textarea>
                        <i id="editor_clear" onclick="clear_editor()" title="clean" class="fas fa-window-close fa-lg"></i>
                    </div>
                    <i id="submit_button" title="Send Message" onclick="send_chat_message()" class="fa fa-send fa-lg"
                        style="color:white;cursor:pointer;margin-bottom: 15px ;">
                    </i>
                </div>

            </div>
            <div class="modal fade" id="channel_creation_modal" tabindex="-1" role="dialog"
                aria-labelledby="channel_creation_modalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="color:white;z-index: 9999;">
                    <div class="modal-content" style="background: #292929;box-shadow: 0px 0px 15px black;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="channel_creation_modalLongTitle">Create Channel</h5>
                        </div>
                        <form>

                            <div class="modal-body" style="border-color: #292929;overflow:auto;">
                                <div class="form-group">
                                    <label for="room_name">Channel Name</label>
                                    <input type="text" class="form-control" id="channel_name" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label>Add Users:</label>
                                    <input type="text" class="form-control" id="user_tags" data-role="tagsinput" />
                                    <small class="form-text " style="color:white;font-weight:400;">
                                        Add users that are currently present in the room by typing their email id.<br>
                                        Press enter after typing user's email to add a new user.
                                    </small>
                                </div>
                                <button type="button" class="btn btn-primary"
                                    style="float: right; margin-left:1%;margin-bottom:1%"
                                    onclick="channel_modal_submission()">Create
                                    Channel</button>
                                <button type="button" id="modal_close" class="btn btn-secondary" data-dismiss="modal"
                                    style="float: right;margin-bottom:1%">Close</button>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="meetcreationmodal" tabindex="-1" role="dialog"
                aria-labelledby="meetcreationmodalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content"
                        style="background: #292929;box-shadow: 0px 0px 15px black;color: white;z-index: 9999;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="meetcreationmodalLongTitle">Create meet</h5>
                        </div>
                        <form>

                            <div class="modal-body" style="border-color: #292929;overflow:auto;">
                                <div class="form-group">
                                    <label for="room_name">Meet Name</label>
                                    <input type="text" class="form-control" id="meet_name" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="room_name">Meet Start Date</label>
                                    <input type="date" class="form-control" id="meet_date" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="room_name">Meet Start Time</label>
                                    <input type="time" class="form-control" id="meet_time" style="color: black;"
                                        required>
                                </div>
                                <div class="form-group" style="display: flex;">
                                    <label for="Allow_Students_Stream">Allow students to stream their
                                        audio/video</label>
                                    <input type="checkbox" class="form-control" id="Allow_Students_Stream"
                                        style="color: black;width: min-content; margin-top: -1%;margin-left:2%;" />
                                </div>

                            </div>
                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="meet_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button" onclick="meet_modal_submission()">Create
                                    meet</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <a class="add_users_link" href="#" data-toggle="modal" data-target="#adduserModal" style="display:none;"
                style="float:right;margin-right:3%;">
                Add users </a>
            <a class="remove_users_link" href="#" data-toggle="modal" data-target="#userdeletionmodal"
                style="display:none;" style="float:right;margin-right:3%;">
                Remove users </a>
            <div class="modal fade" id="adduserModal" tabindex="-1" role="dialog"
                aria-labelledby="adduserModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content"
                        style="background: #292929;box-shadow: 0px 0px 15px black;color: white;z-index: 9999;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="adduserLongTitle">Add Users</h5>
                        </div>
                        <form style="margin-left:1%;margin-right: 1%;">
                            <div class="form-group">
                                <label>Add Users:</label>
                                <input type="text" class="form-control" id="add_user_tags" data-role="tagsinput">
                                <small class="form-text " id="add_users_muted_text"
                                    style="color:white;font-weight:400;">
                                </small>
                                <small class="form-text " id="add_users_muted_text"
                                    style="color:white;font-weight:400;">

                                    Press enter after typing user's email to add a new user.
                                </small>
                            </div>

                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="add_users_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button" onclick="add_users_modal_submission()">Add
                                    users</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="userdeletionmodal" tabindex="-1" role="dialog"
                aria-labelledby="userdeletionmodalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content"
                        style="background: #292929;box-shadow: 0px 0px 15px black;color: white;z-index: 9999;">
                        <div class="modal-header" style="border-color: #292929;">
                            <h5 class="modal-title" id="userdeletionmodalLongTitle">Remove Users</h5>
                        </div>
                        <form style="margin-left:1%;margin-right: 1%;">
                            <div class="form-group">
                                <label>Remove Users:</label>
                                <input type="text" class="form-control" id="user_deletion_tags" data-role="tagsinput">
                                <small class="form-text " id="userdeletionmodals_muted_text"
                                    style="color:white;font-weight:400;">
                                    Remove users that are currently present in the course/channel by typing their email
                                    id.
                                    Press enter after typing user's email to add a new user.
                                </small>
                            </div>

                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="user_deletion_modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="button"
                                    onclick="user_deletion_modal_submission()">Remove
                                    users</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="user_display_modal" tabindex="-1" role="dialog"
            aria-labelledby="user_display_modalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content"
                    style="background: #292929;box-shadow: 0px 0px 15px black;color:white;z-index: 9999;">
                    <div class="modal-header" style="border-color: #292929;">
                        <h5 class="modal-title" id="user_display_modalLongTitle">Members</h5>
                    </div>
                    <form>

                        <div class="modal-body" style="border-color: #292929;overflow:auto;">
                            <div class="form-group" id="all_users_container">

                            </div>
                            <div class="modal-footer" style="border-color: #292929;">
                                <button type="button" id="modal_close" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</body>

</html>